<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/loginForm.css}" />
    <title>Login</title>
</head>
<body>
<div class="container">
    <div class="left">
        <h2>Login</h2>
        <input type="text">
        <input type="password">
        <button>Login</button>
    </div>
    <div class="right">
        <h3>Every new friend is a new adventure</h3>
        <h4>let's get connected</h4>
    </div>
</div>
</body>
</html>